/* Write your code here. */

.navbar-container {
  background-color: #9796f0;
  border: 1px solid #ffffff;

  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score-container {
  display: flex;
  margin-right: 50px;
}

.heading {
  font-size: 30px;
  font-weight: bold;

  color: #ffffff;
}

.icon {
  padding-left: 50px;
}

.score {
  font-size: 20px;
  font-weight: bold;
  margin-right: 15px;
  color: #ffffff;
}

.topScore {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}
